.menu-header {   
display: flex;
/* align-items: center; */
justify-content: center;
font-size: 30px;
padding: 40px;
}

.menu-tab {
    display: block;
    text-decoration: none;
    color: #ffff;
    border-style: outset;
    border-radius: 12px;
    padding: 7px;
    margin-bottom: 10px;
}

.menu-tab:hover {
    background: #FF9F1C;

}