.menuTitle {
    color: white;
    background-color: rgb(37, 37, 253);
}

h2 {
    color: white;
    background-color: rgb(5, 155, 5);
}

.adicionais {
    background-color: rgb(196, 196, 7);
    color: white;
}

.menu {
    background-image: url("../images/background.jpg");
    background-attachment: fixed;  
    display: flex;
    flex-direction: column;    
    justify-content: center;
    width: auto;
}
  
.bordaInteira {
    background-color: ghostwhite;
    margin: 1vw 13vw 1vw 13vw;    
    border-radius: 7px;
    padding: 2vw;
    width: auto;
    height: auto;
    justify-content: center;
}
  
.addOrderButton {
    border-radius: 5px;
    background-color: rgb(121, 7, 7);
    color: white;
    width: 10vw;
}

.addOrderButton:hover {
      background-color: rgb(255, 145, 0);
}

.bebida {
    align-self: center;
    width: 50vw;
}