@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);

div.top{
  display: flex; 
  align-items: center;
  justify-content: center;
}

div.column1{
  float: left;
  margin: 10px;
  width: 56%;
}

div.column2{
  background-color: GhostWhite;
  float: right;
  margin: 20px;
  width: 37%;
  border-radius: 7px;
}
.App-header {
  background-color: #dbf789;
}

body{
  font-family: 'Work Sans', sans-serif;
}

 div.lista {
  font-size: 15px;
  color: black;
  margin: -15px;
}

button {
  background-color: lightgrey;
  font-family: 'Work Sans', sans-serif;
  font-size: 13px;
  padding: 15px;
  margin: 5px;
  border-radius: 7px;
}

button:hover {
  background-color: #EEC900;  
}
