.itens {
  padding: 10px;
  max-width: 300px;
  display: flex;
  margin-top: 40px;
  justify-content: space-around;
}

.button {
  background-color: yellow;
  font-size: 20px;
  border-radius: 5px;
  border-color: black;
  padding: 10px;
}