.btn {
  background-color: yellow;
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 5px;
} 

.item-btn {
  width: 200px;
  height: 60px;
} 

.items {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}


.plus-minus-btn {
  background-color: #0ccebe;
  padding: 10px;
  border: none;
  width: 50px;
  height: 50px;
} 
