@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #707070;
}

.Align {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Text-initial-header {
    margin: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-weight: 700;
}

.Logo-initial-header {
    margin-top: 50px;
    width: 40%;
}

.Align h4{
    text-align: center;
    margin: 0;
}

.Login-register-form {
    margin-top: 60px;
}

.Input {
    height: 50px;
    width: 350px;
    display: block;
    margin-top: 20px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #707070; 
    padding-left: 20px;
}

.Align-beside {
    width: 350px;
    display: flex;
    justify-content: space-between;
}

.Button {
    height: 60px;
    width: 250px;
    margin: 30px 0 20px;
    background-color: transparent;
    border: 1px solid #707070;
    border-radius: 50px;
    font-size: 30px;
    font-weight: 700;
    color: #707070;
}

.Link {
    text-decoration: none;
    color: #707070;
}

.Link-voltar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 60px;
    width: 180px;
    margin: 10px 0 0;
    background-color: transparent;
    border: 1px solid #707070;
    border-radius: 50px;
    font-size: 30px;
    font-weight: 700;
    color: #707070;
}

input[type=radio]:checked + .Toggle span {
    right: 4px;
    background-color: black; 
}

.Align-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.Saloon-order {
    order: 1;
}

.Toggle-order {
    order: 2;
}

.Kitchen-order {
    order: 3;
}

.Radio-toggle {
    position: absolute;
}

.Toggle {
    height: 34px;
    width: 60px;
    padding: 4px;
    margin: 0 20px 0;
    display: flex;
    position: relative;
    background-color: white;
    box-sizing: border-box;
    border: 1px solid #707070;
    border-radius: 50px;
}

.Toggle span {
    height: 24px;
    width: 24px;
    right: 30px;
    display: block;
    position: absolute;
    background-color: black;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

.Align-dashboard-header {
    margin: 0;
    position: fixed;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    padding: 10px 0 10px;
    border-bottom: 1px solid black;
}

.Person-name {
    color: black;
    font-weight: 700;
    font-size: 26px;
    margin: 0;
}

.Logo-dashboard-header {
    width: 15%;
}

.Sign-out {
    border: none;
    background-color: transparent;
    color: black;
    font-weight: 700;
    font-size: 26px;
    margin: 0;
}

.Align-menu-options {
    display: flex;
}

.Align-aside {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-top: 120px;
    position: fixed;
    height: calc(100vh - 120px);
}

.Aside-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 33.33%;
    padding: 0 20px;
    border: none;
    background-color: black;
    color: white;
    font-size: 24px;
    font-weight: 700;   
}

.Aside-button img {
    width: 50%;
    margin-bottom: 15px;
}

.Menu-position {
    display: flex;
    width: 75%;
    padding: 20px 0;
    margin-left: 25%;
    margin-top: 115px;
}