:root {
    --color-white: #FDFFFF;
    --color-alabama-crimson: #B10F2E;
    --color-rosewood: #570000;
    --color-zinnwaldite-brown: #280000;
    --color-terra-cotta: #DE7C5A;
    --font-courgette: 'Courgette', cursive;
    --font-quicksand: 'Quicksand', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

*,
:after,
:before {
    box-sizing: border-box;
}

.clearfix:after,
.clearfix:before {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

.login-page {
    width: 100%;
    margin: auto;
    max-width: 768px;
    min-height: 1024px;
    position: relative;
    background-image: url("../image/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.login-form {
    margin: 30px 0 0 0;
}

.group {
    padding: 0 0 10px 0;
}

.logo{
    text-align: center;
    padding: 50px 40px 50px 40px;
    color: var(--color-zinnwaldite-brown);
}

.logo h1 {
    font-size: 100px;
    font-family: var(--font-courgette);
}

.logo h3 {
    font-size: 40px;
    letter-spacing: 35px;
    margin-left: 25px;
    font-family: var(--font-quicksand);
    font-weight: 300;
}

.login-wrap{
    margin: 50px 0 0 0;
}

.login-html {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 70px 70px 50px 70px;
}

.login-html .sign-in-htm,
.login-html .sign-up-htm {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: all 0.4s linear;
}

.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check {
    display: none;
}

.login-html .tab,
.login-form .group .label,
.login-form .group .button {
    text-transform: uppercase;
}

.login-html .tab {
    font-size: 22px;
    margin-right: 15px;
    padding-bottom: 5px;
    margin: 0 15px 10px 0;
    display: inline-block;
    border-bottom: 2px solid transparent;
    font-family: var(--font-quicksand);
    font-weight: 700;
}

.checking .group {
    width: 100%;
    padding: 3px;
    display: inline;
}

.checking {
    margin: 0 0 20px 0;
}

.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab {
    color: var(--color-zinnwaldite-brown);
    border-color: var(--color-rosewood);
}

.login-form {
    min-height: 345px;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.login-form .group {
    margin-bottom: 15px;
}

.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
    width: 100%;
    color: var(--color-zinnwaldite-brown);
    display: block;
}

.button-color {
    color: var(--color-white) !important;
}

.login-form .group .input,
.login-form .group .button {
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    background: rgba(222, 124, 90, 0.5);
}

.login-form .group input[data-type="password"] {
    text-security: circle;
    -webkit-text-security: circle;
}

.login-form .group .label {
    color: var(--color-zinnwaldite-brown);
    font-family: var(--font-quicksand);
    font-weight: 600;
    font-size: 12px;
}

.login-form .group .button {
    background: var(--color-zinnwaldite-brown);
}

.login-form .group label .icon {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    position: relative;
    display: inline-block;
    background: rgba(255, 255, 255, 0.1);
}

.login-form .group label .icon:before,
.login-form .group label .icon:after {
    content: "";
    width: 10px;
    height: 2px;
    background: #fff;
    position: absolute;
    transition: all 0.2s ease-in-out 0s;
}

.login-form .group label .icon:before {
    left: 3px;
    width: 5px;
    bottom: 6px;
    transform: scale(0) rotate(0);
}

.login-form .group label .icon:after {
    top: 6px;
    right: 0;
    transform: scale(0) rotate(0);
}

.login-form .group .check:checked + label {
    color: var(--color-zinnwaldite-brown);
    font-family: var(--font-quicksand);
    font-weight: 600;
}

.login-form .group .check:checked + label .icon {
    background: var(--color-zinnwaldite-brown);
}

.login-form .group .check:checked + label .icon:before {
    transform: scale(1) rotate(45deg);
}

.login-form .group .check:checked + label .icon:after {
    transform: scale(1) rotate(-45deg);
}

.login-html
    .sign-in:checked
    + .tab
    + .sign-up
    + .tab
    + .login-form
    .sign-in-htm {
    transform: rotate(0);
}

.login-html .sign-up:checked + .tab + .login-form .sign-up-htm {
    transform: rotate(0);
}

.hr {
    height: 2px;
    margin: 60px 0 50px 0;
    background: var(--color-rosewood);
}

.foot-lnk {
    text-align: center;
    font-family: var(--font-quicksand);
    font-weight: 700;
}

@media screen and (max-width: 1024px) {
    .login-page {
        width: 100%;
        max-width: 1024px;
    }
}