* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.Menu{
    background-color:#E6D1CA;
}

.Menu-item{
    background-color: #623A2E;
    color:#E6D1CA;
    width: 100px;
    height: 200px;
    position: relative;
    font-weight: 700;
}

.Menu-item-price{
    position: absolute;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.Menu-select{
    -webkit-appearance: none;  
    -moz-appearance: none; 
    appearance: none; 
    background: url(http://www.webcis.com.br/images/imagens-noticias/select/ico-seta-appearance.gif) no-repeat #eeeeee;  /* Imagem de fundo (Seta) */
    background-position: 118px center;  
    color:#1D110D;
    background-color: #E6D1CA;
    width: 150px; 
    height:30px; 
    border:1px solid rgb(250, 246, 246);
  }