* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.Menu{
  background-color:#E6D1CA;
  width: 65vw;
  display: flex;
  flex-wrap: wrap;
  margin:10px;
}

.MenuItem{
  background-color: #623A2E;
  color:#E6D1CA;
  width: 20%;
  height: 200px;
  position: relative;
  margin: 10px;
  cursor: pointer;
}

.MenuItem:hover{
  filter: brightness(130%)
}
.MenuItem-name{
  width: 100%;
  margin: 10px auto;
  text-align: center;
  position:absolute;
  top:0;
}

.MenuItem-price{
  width: 100%;
  margin: 10px auto;
  text-align: center;
  position:absolute;
  bottom:0;
  font-weight: 700;
}

.MenuItem-figure{
  width: 100%;
  position: absolute;
  bottom: 24%;

}

.MenuItem-image{
  width: 60%;
  margin-left: 20%;
}

.Menu-button{
  width: 50%;
  border:none;
  text-transform: uppercase;
}

.Menu-active{
  background-color: #623A2E;
  color:#E6D1CA;
}

.Menu-not-active{
  color: #623A2E;
  background-color:#E6D1CA;
}