.div-header {
padding: 0%;
}

.container {
  width: auto;
}

.div-header-saloon {
  padding: 5px;
  width: 100%;
  height: 10vh;
  display: inline-flex;
  justify-content: space-around;
}

.div-logo-saloon {
  width: 30%;
  height: 10vh;
  display: inline-flex;
  justify-content: left;
}

.logo-saloon {
  width: 70%;
  height: auto;
  margin: 0;
}

.client-name-input {
  width: 40%;
  height: auto;
  padding-top: 4rem;
  align-items: center;
}

.form-client-name {
  height: auto;
  display: inline-flex;
}

.btn-client-name {
  background-color: #1B7B46;
}

.div-user-name {
  width: 10%;
  height: auto;
  text-align: right;
}

.user-name-icon{
  width: 30%;
  height: auto;
  padding-top: 1rem;
  font-size: 20px;
}

.name-user{
  font-size: 25px;
}

.svg-inline--fa.fa-w-16 {
  width: 2em;
}

.logout-icon {
 margin-top: 1em;
}

.out {
 font-size: 20px;
 margin-left: 1rem;
}

.list-group-item {
  background-color: rgba(31, 37, 51, 0.95);
  font-size: 20px;
  padding: 5px;
}

.disabled {
  cursor: auto !important;
}

.tabs-saloon{
  width: 60%;
}

.tabs {
  font-size: 22px;
}

.tab-content-saloon {
  width: 100%;
}

.div-itens {
  display: flex;
  justify-content: space-around;
}

.list-itens {
 width: 35%;
 padding-top: 1em;
}

.item-checked {
  text-align: center;
}

.list-group-item:last-child {
  margin-bottom: 5px;
}

.header-item-checked {
  margin-bottom: 8px;
  text-align: center;
}

.list-group {
  margin: 0;
}

.btn-col {
  text-align: center;
  margin-top: 10px;
}