.container-signin {   
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 3em;
}

.logo {
  height: 10vh;
}

.div-logo {
  padding: 10px 25px;
  text-align: center;
}

.tabs {
  border: none;
  color: #E3E9F0;
  text-decoration: none;
  text-align: center;
  padding: 30px 0px;
}

.nav-link {
  color: #E3E9F0;
  text-decoration: none  !important;
  font-weight: bold;
  padding: 10px;
}

.nav-link:hover {
  text-decoration: none;
  color: #1B7B46;
}

label.form-check-label {
  padding: 2px;
  font-size: 20px;
  color: #E3E9F0;
}

label.form-check-label:hover {
  color: #E3E9F0;
}

.btn-div {
  padding: 30px;
  text-align: center;
}
