.bg-intro {
  background-color: #000000;
  min-height: 100vh;
  color: white;
}

.logo {
  max-width: 90%;
}

.orange {
  background-color: #ff8400 !important;
  border-color: #ff8400 !important;
}

.outline-orange {
  color: #ff8400 !important;
  border-color: #ff8400 !important;
  background-color: transparent !important;
}

.outline-orange:hover {
  color: #ffffff !important;
  background-color: #ff8400 !important;
}

::placeholder {
  font-style: italic;
  font-size: 1em;
}
