* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #073561;
	font-family: 'open sans', sans-serif;
}

.forms {
	background: #fff;
	margin: 3% auto;
	max-width: 70%;
}

.forms { padding: 5%; }

#signup { display: none; }

.forms .tab-group {
	list-style: none;
}

.forms .tab-group:after {
	content: "";
	display: flex;
	clear: both;
}

.forms input {
	font-size: 16px;
	width: 100%;
	padding: 2% 4%;
	border: 1px solid #ddd;
	margin-bottom: 3%;
}

.input-box {
	font-size: 16px;
	width: 100%;
	padding: 2% 4%;
	border: 1px solid #ddd;
	margin-bottom: 3%;
	color: white;
}

.header-logo {
  display: flex;
  justify-content: center;
}

.myButton {
	background-color: black;
}