* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: 'Roboto', sans-serif;
  background-color: #E6D1CA;
  height: 100vh
}

.App-link {
  color: #61dafb;
}

.order{
  background-color: #1D110D;
  color:#E6D1CA;
  height: 100vh
}
