.button {
    background-color: #99d500;
    font-family: 'Work Sans', sans-serif;
    font-size:14px;
    padding: 11px;
    margin: 5px;
    border-radius: 7px;
    
  }

  .button:hover {
    background-color: #71bc00;
  }

  .red {
    background-color: red;
    color: white;
    padding: 4px;
    margin: 3px;
  }

  .red:hover {
    background-color: #CD0000;
    padding: 4px;
    margin: 3px;
  }


