.button {
    background-color: #99d500;
    font-family: 'Work Sans', sans-serif;
    font-size:17px;
    padding: 4px;
    margin: 10px;
    border-radius: 7px;
    
  }

  .button:hover{
    background-color: #71bc00;
  }